* {
    margin: 0;
    padding: 0;
}
body {
    width: 960px;
    height: 500px;
    margin: 0 auto;
}
.sky > span {
    display: block;
    width: 100%;
    height: 20%;
}
.sky, .ocean {
    width: 100%;
    height: 50%;
}
.ocean {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
    background-color: dodgerblue;
    font-size: 10em;
    text-align: center;
    color: rgb(55, 106, 170);
    /* color: rgb(50, 85, 135, 0.6); */
    text-shadow: 0.5px 0.5px white;
}
#first_layer {
    background-color: hsl(210, 70%, 75%, 1);
}
#second_layer {
    background-color: hsl(210, 70%, 75%, 0.9);
}
#third_layer {
    background-color: hsl(210, 70%, 75%, 0.75);
}
#fourth_layer {
    background-color: hsl(210, 70%, 75%, 0.65);
}
#fifth_layer {
    background-color: hsl(210, 70%, 75%, 0.5);
}
.positioned {
    position: relative;
    top: -25%;
}